body{
    text-align: center;
    background-color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: 1.5rem;
}

button{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    padding: 5px;
    border-radius: 3px;
}